/* set default font for the body */
body {
  font-family: "Poppins", sans-serif;
}

/* set font for all heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lora", sans-serif;
}

/* style material symbols with middle alignment and font size */
.material-symbols-outlined {
  vertical-align: middle; /* this aligns the icon right in the middle */
  font-size: 20px;
}
